@font-face {
    font-family: solaimanlipi;
    src: url(../fonts/SolaimanLipi.eot);
    src: url(../fonts/SolaimanLipi.woff) format('woff'), url(../fonts/SolaimanLipi.ttf) format('truetype'), url(../fonts/SolaimanLipi.svg#SolaimanLipiNormal) format('svg'), url(../fonts/SolaimanLipi.eot?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}