@font-face {
    font-family: li shobuj nolua unicode;
    src: url(../fonts/Li\ Shobuj\ Nolua\ Unicode.ttf), url(../fonts/Li\ Shobuj\ Nolua\ Unicode\ Italic.ttf);
    font-weight: 400;
    font-style: normal
}